
@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

$bg: #fff;
$text: #382b22;
$light-green: #f0fff3;
$green: #e9ffec;
$dark-green: #c4f9d3;
$green-border: #afafaf;
$green-shadow: #e2ffe7;

$sky: (#CAEBF2);
$carbon: (#A9A9A9);
$screengray: (#F5F5F5);
$blackboard: (#5f5f5f);
$watermelon: (#FF3B3F);
$neutral: (#EFEFEF);
$backwhite: (#FCFCFC);
